
.contain{
}
.title{
    width: max-content;
    height: max-content;
    font-weight: 400;
    font-size: 54px;
    font-family: 'Tinos', serif;
    display: inline-block;
    margin-right: 20px;
    color:black;
}


.item{
    width: max-content;
    height: max-content;
    font-weight: 400;
    font-size: 54px;
    font-family: 'Tinos', serif;
    display: inline-block;
    color:#D67E34;
}